@media only screen and (max-width: 2560px){
  .photo-1.gallery__photo-show{
    opacity: 1;
    transition: opacity 2s;
  }
  
  .photo-2.gallery__photo-show{
    opacity: 1;
    transition: opacity 2s;
    transition-delay: 0.1s;
  }
  
  .photo-3.gallery__photo-show{
    opacity: 1;
    transition: opacity 2s;
    transition-delay: 0.2s;
  }
  
  .photo-4.gallery__photo-show{
    opacity: 1;
    transition: opacity 2s;
    transition-delay: 0.3s;
  }
}

@media only screen and (max-width: 1470px){
  .gallery__photo{
    margin-bottom: 30px;
    width: 610px;
    opacity: 0;
    color: #fff;
  }

  .photo-1.gallery__photo-show{
    opacity: 1;
    transition: opacity 2s;
  }
  
  .photo-2.gallery__photo-show{
    opacity: 1;
    transition: opacity 2s;
    transition-delay: 0.4s;
  }
  
  .photo-3.gallery__photo-show{
    opacity: 1;
    transition: opacity 2s;
  }
  
  .photo-4.gallery__photo-show{
    opacity: 1;
    transition: opacity 2s;
    transition-delay: 0.8s;
  }
}